*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(51, 51, 51);
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.left {
    grid-column-start: 0;
    grid-column-start: 1;
    text-align: left;
    
}

.middle {
    grid-column-start: 1;
    grid-column-start: 2;
    text-align: center;
    color: rgb(236, 236, 236);
}

.right {
    grid-column-start: 2;
    grid-column-start: 3;
    text-align: right;
}
